<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'/>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css'/>
    <script src="/javascripts/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Sigh up!</h2>
        <input type="text" name="username" class="input-block-level" placeholder="Your user name">
        <input type="password" name="password" class="input-block-level" placeholder="Your Password">
        <input type="password" class="input-block-level" placeholder="No need for confirming password" disabled>
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
        <a class="btn btn-large btn-link pull-right" href="login">Sign in</a>
    </form>
</div>
<!-- /container -->
</body>
</html>